@charset "utf-8";
/* CSS Document */
*{ padding:0px; margin:0px; width:100%;  font-family:"微软雅黑"; }
#header { height:140px; }
#black { height:50px; background:#000; color:#fff; text-align:right; line-height:50px; font-family:"微软雅黑"; font-size:20px;}
#menu { height:90px; width:800px; margin-left:550px;}
#menu ul { height:90px; }
#menu ul li { list-style:none; width:60px; height:40px; display:inline;}
#menu ul li a{ text-decoration:none; line-height:90px; font-size:18px; color:#000; font-family:"微软雅黑"; margin-right:25px;}
#menu ul li a:hover{ color:#B31402; border-bottom:2px solid #B31402; }
.pos { position:absolute; 
	   width:300px;
	   top:30px;
	   left:130px;
}
#banner { height:550px; }
#guanyu { height:157px; 
		width:294px; 
		margin:0 auto;
		padding-left:34px;}
#mod { height:900px; margin:30px 0 0 0;}		
#fumo { height:80px; width:720px; margin:0 auto;}
#fumo ul { width:700px; padding-top:30px;}
#fumo ul li { list-style:none; display:inline; width:140px;}
#fumo ul li a { text-decoration:none; color:#000; font-size:18px; border:#000 1px solid; padding:10px 30px 10px 30px; margin-right:20px; }
#fumo ul li a:hover{ color:#B31402; 
					 border:1px solid #B31402;
	
	}
	
#tuwen img:hover { border:2px solid #B31402;}
#one { width:100% height:200px; margin-left:40px; float:left;}
.first { width:600px; height:180px; float:left; }
.first1 { width:140px; height:170px; float:left; margin-top:10px; margin-left:10px;}
.first2 { width:400px; float:left; margin-left:28px; margin-top:40px;}
.first2 a{ color:#000; font-size:20px; text-decoration:none;}
.first a:hover { color:#B31402;}
.first2 p{ font-size:14px; padding-top:25px;} 
#two {  height:200px; float:left; margin-left:40px;}
#three {  height:200px; float:left; margin-left:40px;}
#four {  height:200px; float:left; margin-left:40px;}
#footer{
	 height:180px; background:#000;
	
}
#footer ul { height:90px; margin-left:550px; }
#footer ul li { list-style:none;
				width:60px;
				height:40px;
				display:inline;}
#footer ul li a { text-decoration:none; 
				  line-height:90px; 
				  font-size:18px; 
				  color:#fff; 
				  font-family:"微软雅黑"; 
				  margin-right:25px;}
#footer ul li a:hover{ color:#B31402; border-bottom:2px solid #B31402; }				hr { color:#ccc; margin:0 auto;}
#footer p { color:#ccc;
			font-size:12px;
			margin-left:160px;
			margin-top:25px;


}  
.last { width:300px;
		height:90px;
		position:absolute;
		top:1765px;
		left:65px;
}